<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <queries>

        <!-- Explicit apps you know in advance about: -->
        <package android:name="com.qanda.learnroom" />
        <package android:name="com.calamus.easychinese" />
        <package android:name="com.calamus.easyjapanese" />
    </queries>

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:exported="true"
        android:icon="@mipmap/kommmainicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/kommmainicon"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".BlockUserActivity"
            android:exported="false" />
        <activity
            android:name=".BlockedActivity"
            android:exported="false" />
        <activity
            android:name=".MyAdActivity"
            android:exported="false" />
        <activity
            android:name=".AuthCheckerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.calamus.easykorean.AuthCheckerActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartCourseActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReviewsActivity"
            android:theme="@style/Theme.Toolbar.NoActionBar" />
        <activity
            android:name=".CourseRatingActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateCoverPhotoActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateBioActivity"
            android:exported="false" />
        <activity
            android:name=".WordDetailActivity"
            android:exported="false" />
        <activity
            android:name=".DownloadingListActivity"
            android:exported="false" />
        <activity
            android:name=".VimeoPlayerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="screenSize|orientation|screenLayout|navigation"/>
        <activity android:name=".DayListActivity" />
        <activity android:name=".SearchingActivity" />
        <activity
            android:name=".TeacherActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ChattingActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".ClassRoomActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".ForgetPasswordActivity" />
        <activity
            android:name=".AlbumSongActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".SongDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".PlayerActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".SongListActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".AnnouncementActivity" />
        <activity android:name=".LikeListActivity" />
        <activity
            android:name=".VideoPlayerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SavedVideoActivity" />
        <activity android:name=".GammingActivity" />
        <activity android:name=".SaveWordActivity" />
        <activity android:name=".SavePostActivity" />
        <activity android:name=".UpdateActivity" />
        <activity android:name=".WebSiteActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".NotiListActivity" />
        <activity android:name=".WritePostActivity" />
        <activity
            android:name=".PhotoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CommentActivity" />
        <activity
            android:name=".MyDiscussionActivity"
            android:label="@string/title_activity_my_discussion" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".LessonActivity" />
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.DownloaderService" />
        <service
            android:name=".service.MusicService"
            android:enabled="true"
            android:stopWithTask="true" />

        <receiver
            android:name=".recivers.NotificationReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="TODO">
            <intent-filter>
                <action android:name="actionprevious" />
                <action android:name="actionnext" />
                <action android:name="actionplay" />
            </intent-filter>
        </receiver>
        <receiver android:name=".recivers.AlarmReceiver" />
    </application>

</manifest>